@import "./utils/variables";
@import "./components/header";
@import "./components/main-section";
@import "./components/icon-text";
@import "./components/work";
@import "./components/team";
@import "./components/icon-client";
@import "./components/footer";
@import "./components/modal";
@import "./components/button-navigation";
@import "./components/picture-text";
@import "./components/menu-mobile";

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
section {
  width: 100%;
}
body {
  color: #212121;
  margin: 0 auto;
}
