footer {
  background-color: #2f303a;
  width: 100%;
}
.footer_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 60px;
  & > div {
    padding-top: 60px;
  }
}

.footer_text {
  color: $color-white;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 10px;
}
.footer_text_white {
  color: $color-white;
}
.footer_logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: $color-white;
  text-align: center;
}

.footer_contact {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  color: $color-grey;
  list-style-type: none;
  align-items: center;
}
.footer_adres {
  padding-bottom: 8px;
}
.footer_link {
  color: #ffffff99;
  text-decoration: none;
}
.footer_list {
  list-style-type: none;
  width: 44px;
  height: 44px;
  background-color: #ffffff1a;
  border-radius: 50%;
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
}
.footer_list:focus,
.footer_list:hover {
  background: $color-blue;
}
.footer_item {
  fill: $color-white;
  display: flex;
  padding: 3px;
  text-align: center;
}
.footer_icon {
  fill: $color-white;
}
.footer_input {
  background-color: transparent;
  border: 1px solid #ffffff4d;
  border-radius: 4px;
  width: 450px;
  padding-left: 10px;
  margin-bottom: 20px;
}
.button_submit {
  text-align: justify;
  padding-left: 42px;
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #2196f3;
  border-radius: 4px;
  border: #2196f3;
  cursor: pointer;
}
.button_icon {
  position: absolute;
  fill: #fff;
  margin-left: 24px;
}
.footer_three p {
  color: #fff;
  font-size: 14px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer_box {
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer_newsletter {
    text-align: center;
    margin-left: 130px;
  }
  .footer_text {
    margin-top: -10px;
  }
  .button_submit {
    margin-left: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .footer_box {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;

    width: 100%;
  }
  .footer_text {
    text-align: center;
  }
  .footer_input {
    display: flex;
    width: 358px;
  }
}
