footer {
  background-color: #2f303a;
  height: 252px;
  width: 1600px;
  margin: 0 auto;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    height: 463px;
    width: 100%;
  }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    width: 480px;
    height: 603px;
  }
}

.footer_box {
  display: flex;
  @media screen and (min-width: 480px) and (max-width: 768px) {
    display: inline-block;
  }
}
.footer_date {
  padding-top: 30px;
}
.footer_icons {
  padding-top: 52px;
  padding-left: 90px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 60px;
  }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    margin-left: 80px;
  }
}
.footer_newsletter {
  padding-left: 80px;
  padding-top: 52px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 185px;
    margin-left: -550px;
  }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    margin-left: 60px;
  }
}
.footer_button {
  padding-top: 108px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 353px;
    margin-left: -290px;
  }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    margin-left: 120px;
    margin-top: -90px;
  }
}
.footer_text {
  color: $color-white;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 10px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 85px;
  }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    margin-top: -20px;
  }
}
.footer_text_white {
  color: $color-white;
}
.footer_logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: $color-white;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 115px;
  }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    font-size: 24px;
    margin-left: 163px;
  }
}
.footer_contact {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  color: $color-grey;
  list-style-type: none;
  margin-left: -33px;
}
.footer_adres {
  padding-bottom: 9px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-left: 70px;
  }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    margin-left: 115px;
  }
}
.footer_link {
  color: #ffffff99;
  text-decoration: none;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-left: 40px;
  }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    margin-left: 45px;
  }
}
.footer_list {
  list-style-type: none;
  width: 44px;
  height: 44px;
  background-color: #ffffff1a;
  border-radius: 50%;
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
}
.footer_list:focus,
.footer_list:hover {
  background: $color-blue;
}
.footer_item {
  fill: $color-white;
  display: flex;
  padding: 3px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 35px;
  }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    margin-left: -50px;
  }
}
.footer_icon {
  fill: $color-white;
}
.footer_input {
  background-color: transparent;
  border: 1px solid #ffffff4d;
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding-left: 10px;
  @media screen and (min-width: 480px) and (max-width: 768px) {
    width: 420px;
    margin-left: -110px;
  }
}
.button_submit {
  text-align: justify;
  padding-left: 42px;
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #2196f3;
  border-radius: 4px;
  border: #2196f3;
  margin-left: 12px;
  cursor: pointer;
}
.button_icon {
  position: absolute;
  fill: #fff;
  margin-left: 24px;
}
.footer_three p {
  color: #fff;
  font-size: 14px;
  padding-bottom: 20px;
}
