.header {
  display: flex;
  align-items: center;
  margin-top: 24px;
  justify-content: space-between;
}
.header_border {
  border: 1px solid #ececec;
  margin-bottom: 100px;
}
.logo {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
}
.logo_text_blue {
  color: $color-blue;
}
.navigation {
  display: none;
  list-style-type: none;
}

.navigation_link {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-decoration: none;
  color: $color-black;
  margin-left: 40px;
  margin-top: 8px;
  transition-property: color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
}
.navigation_link:hover,
.navigation_link:focus {
  color: $color-blue;
}
.navigation-list_item::after {
  display: block;
  position: absolute;
  content: "";
  background-color: $color-blue;
  height: 4px;
  width: 58px;
  border-radius: 2px;
  margin-left: 40px;
}
.contact {
  display: none;
  text-align: center;
  align-items: center;
}

.contact_list {
  list-style: none;
  transition-property: color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  &:hover {
    color: $color-blue;
    transition: 250ms;
  }
}

.contact_link {
  color: $color-grey;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  transition-property: color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  &:hover {
    color: $color-blue;
  }
}
.contact_icon {
  fill: $color-icon;
  margin-right: 10px;
  transition-property: fill;
}

.contact_link:hover .contact_icon {
  fill: $color-blue;
  transition: 250ms;
}
@media (min-width: 768px) {
  .navigation {
    display: flex;
    padding-top: 35px;
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 70px;
  }
  .logo {
    margin-top: 30px;
  }
  .contact_list {
    padding-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .navigation {
    display: flex;
    flex-direction: row;
    margin-left: 93px;
  }
  .contact {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
  }
  .contact_list {
    padding-left: 10px;
    margin-top: 35px;
  }
  .logo {
    margin-left: 200px;
  }
  .header {
    display: flex;
  }
  .navigation_link {
    display: flex;
  }
}
