.future-icon {
  transition-property: fill;
}

.future-icon_item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.future-icon_item > li {
  list-style-type: none;
  padding-bottom: 30px;
}

.future-icon_svg {
  background-color: $color-border;
  width: 450px;
  height: 120px;
}
.future-icon_header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: $color-black;
  text-align: center;
}
.future-icon_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $color-grey;
}

@media (min-width: 768px) {
  .future-icon_item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .future-icon_header {
    text-align: left;
  }
  .future-icon_svg {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media (max-width: 1200px) {
  .future-icon_svg {
    width: 270px;
  }
  .future-icon_item {
    display: flex;
  }
}
