.future-icon {
  display: flex;
  padding-right: 30px;
  transition-property: fill;
}
.future-icon_item {
  display: flex;
}
.future-icon_item > li {
  list-style-type: none;
  padding-right: 30px;
}

.future-icon_svg {
  background-color: $color-border;
  width: 270px;
  height: 120px;
}
.future-icon_header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: $color-black;
}
.future-icon_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $color-grey;
}
