.customer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-bottom: 60px;
}

.customer_text {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: $color-black;
  text-align: center;
  width: 100%;
}
.customer_icon {
  width: calc((100% - 30px) / 2);
  border: 1px solid $color-icon;
  fill: $color-icon;
  border-radius: 4px;
  transition-property: border, fill;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  &:hover {
    fill: $color-blue;
    border: 1px solid $color-blue;
    cursor: pointer;
  }
}
@media (min-width: 768px) {
  .customer_icon {
    width: calc((100% - 60px) / 3);
  }
}
@media (min-width: 1200px) {
  .customer_icon {
    width: calc((100% - 150px) / 6);
  }
}
