.container-mobile {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.menu-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 10px 15px 48px 40px;
  background-color: white;
  transform: translateX(100%);
  transition: transform $transition;
  font-size: 34px;
  font-weight: 500;
  z-index: 4;
}
.menu-container.is-open {
  transform: translateX(0);
}
.icon-mobile {
  border: none;
}
.js-open-menu {
  background-color: white;
  border: none;
}
