.container-mobile {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.menu-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 10px 15px 48px 40px;
  background-color: white;
  transform: translateX(100%);
  transition: transform $transition;
  font-weight: 500;
  z-index: 4;
}
.menu-container.is-open {
  transform: translateX(0);
}
.icon-mobile {
  border: none;
}
.js-open-menu {
  background-color: white;
  border: none;
}
.list__navbar--mobile {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin: 0;
  > li {
    padding-bottom: 32px;
  }
}
.contact-mobile_phone {
  font-size: 34px;
  color: $color-blue;
}
.contact-mobile_mail {
  display: inline-block;
  font-size: 24px;
  margin-bottom: 64px;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.nav_link {
  font-size: 40px;
  color: #212121;
}
.menu-container__link {
  text-decoration: none;
  font-size: 18px;
  color: $color-blue;
  padding-right: 10px;
  padding-left: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  &--no-border {
    border: none;
    padding-left: 0px;
  }
}
.js-close-menu {
  align-self: flex-end;
  background-color: white;
  border: none;
  height: 40px;
  padding: 0;
  pointer-events: initial;
  width: 40px;
  &:hover,
  &:focus {
    fill: $color-blue;
    cursor: pointer;
    transition: fill $transition;
  }
}
