.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  visibility: visible;
  transition-property: opacity, visibility, transform;
  transition-timing-function: $transition-timing-function;
  transition-duration: $transition-duration;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: $color-white;
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1199px) {
    width: 528px;
  }
}
.close_svg:hover,
.close_svg:focus {
  fill: $color-blue;
}
.close_btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $color-white;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border-color: $color-blue;
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
label {
  flex-direction: column;
}

input {
  width: 448px;
  height: 40px;
}
.form_date {
  font-size: 20px;
  font-weight: 700;
  color: $color-black;
  text-align: center;
  padding-top: 20px;
}
.input {
  display: inline-block;
}
.input_text {
  padding-top: 12px;
  margin-left: 40px;
  font-size: 12px;
  color: $color-grey;
  position: absolute;
}
.input_icon {
  display: inline-block;
  position: absolute;
  margin-left: -435px;
  margin-top: 40px;
  width: 18px;
  height: 18px;
}
.input_border {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-left: 40px;
  padding: 0.5em 2em 0.5em 2em;
  margin-top: 28px;
  transition: border-color 0.2s ease-in-out;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input_border:focus {
  border-color: $color-blue;
  outline: none;
  cursor: pointer;
}
.input_border:focus + .input_icon {
  fill: $color-blue;
}
.input_form {
  font-size: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-left: 40px;
  padding: 0.5em 2em 0.5em 2em;
  margin-top: 28px;
  height: 120px;
  width: 448px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border-color: $color-blue;
    outline: none;
  }
}
.input_form::placeholder-shown {
  color: #75757580;
}

textarea {
  resize: none;
}
.button_send {
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  color: $color-white;
  background-color: $color-blue;
  text-align: center;
  border-radius: 4px;
  border: $color-blue;
  margin-top: 30px;
  margin-left: 164px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.statement_regulation {
  margin-top: 20px;
  text-align: center;
  display: block;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  position: relative;
  font-size: 14px;
  color: $color-grey;
  padding-left: 23px;
}

input[type="checkbox"] + label a {
  color: $color-blue;
}
input[type="checkbox"] + label::before {
  content: "";
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' fill='none'%3E%3Cpath fill='%23212121' d='M14.222 1.667v11.666H1.778V1.667h12.444Zm0-1.667H1.778C.8 0 0 .75 0 1.667v11.666C0 14.25.8 15 1.778 15h12.444C15.2 15 16 14.25 16 13.333V1.667C16 .75 15.2 0 14.222 0Z'/%3E%3C/svg%3E")
    no-repeat;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  top: 2px;
  left: 2px;
  display: block;
  position: absolute;
  cursor: pointer;
  transition-property: background-image;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
input[type="checkbox"]:checked + label::before {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E")
    no-repeat;
}
