.team {
  background-color: $color-border;
  display: flex;
  flex-direction: wrap;
  justify-content: flex-end;
  margin-bottom: 60px;
  width: 100%;
}
.team_title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  padding-top: 60px;
}
.team_list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  list-style: none;
  gap: 30px;
  padding: 0;
  margin: 0;
}
.team_people {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 450px;
  height: 622px;
  background-color: $color-white;
  margin-bottom: 30px;
  align-items: center;
  margin-bottom: 30px;
}

.team_people h3 {
  color: $color-black;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team_people p {
  color: $color-grey;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.our {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
.our-team {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $color-white;
  transition-property: background-color, fill;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  &:hover {
    background-color: $color-blue;
    cursor: pointer;
  }
}

.our-team_icon {
  fill: $color-icon;
  width: 30px;
  height: 30px;
  margin-top: 5px;
  padding: 5px;
  transition-property: fill;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  &:hover {
    fill: $color-white;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
  }
  .team_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
  }
  .team_people {
    width: 354px;
    height: 536px;
  }
}
@media (min-width: 1200px) {
  .team_list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 64px;
    margin: 0 auto;
  }
  .team_people {
    height: 428px;
    width: 270px;
  }
  .team {
    width: 1600px;
  }
  .team_title {
    margin-bottom: 20px;
  }
}
