.work {
  display: none;
}
.work_title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.work_photo {
  list-style: none;
  display: flex;
  justify-content: center;
}
.work_description {
  padding: 20px;
}
.work_box {
  position: absolute;
  width: 370px;
  height: 70px;
  background-color: $color-footer;
  opacity: 0.8;
  margin-top: 224px;
}
.work_box p {
  color: $color-white;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
    padding-bottom: 94px;
  }
}
